<h1>Forgot Password?</h1>

<%= form_with url: password_reset_path do |form| %>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: "example@mail.com" %>
  </div>

  <div>
    <%= form.submit "Reset Password" %>
  </div>
<% end %>